/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#spacer {
  border-top: 1px solid #404040;
  margin: 20px;
}

#container {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-spacing: 0px;
  width: 85%;
  background-color: rgb(246, 246, 239);
}

#nav-bar{
  border: 1px solid #404040;
  width: 100%;
  height: 25px;
  background-color: orange;
  text-align: right;
  padding-right: 25px;
}

#post-title {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;}

a {
  color : #000000;
  text-decoration : none;
}

#post-info {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
}